body{
	background: #1d1e22;
	padding:0;
	margin:0;
}
main{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: space-evenly;
	gap: 50px 50px;
	background: #1d1e22;
	padding: 50px;
	transition: 200ms;
	&:hover{
		background: #28292f;
	}

}
h2{
	flex: 1 0 100%;
	color:white;
	text-align:center;
	font-family: monospace;
	font-weight: 100;
	font-size: 1.4rem;
}


:root {
	--width: 240px;
	--height: 150px;
	--d: 0.6;  // durtaion
	--s: calc(var(--height) * 1/3 );         // british flag -cross
	--b-q: calc(var(--height) * 1/3 );       // british flag -cross
	--b-r: calc(var(--height) * 1/3 * 6/10); // british flag -red
	--b-w: calc(var(--height) * 1/3 * 4/10); // british flag -white-stroke
	--b-a: calc( 32deg) ;                    // british flag -angle
}
img{
	position: absolute;
	top:0%;
	z-index:-1;
}


.flag {
	width: var(--width);
	height: var(--height);
	position:relative;
	overflow:hidden;
	cursor:pointer;
	border: 1px solid transparent;
	// border-radius:6px;
	transition:  border 200ms;
	background-clip: content-box;
	&:hover{
		border-color: rgba(255,255,255,1);
	}

	div:nth-of-type(1),
	div:nth-of-type(2),
	div:nth-of-type(3){
		position:absolute;
		transform-style: preserve-3d;
		background: #ffffff00;
		height: 100%;
		width: 100%;
		top:0%;
		left:0%;

		transition:
			background calc(1s * var(--d)) calc(0s * var(--d)),
			height calc(1s * var(--d)) calc(0s * var(--d)),
			width calc(1s * var(--d)) calc(0s * var(--d)),
			top calc(1s * var(--d)) calc(0s * var(--d)),
			left calc(1s * var(--d)) calc(0s * var(--d))
			;

		&:before,
		&:after{
			content: "";
			background: white;
			position: absolute;
			transform: translateZ(-1px);
		}

	}

	div:nth-of-type(1){

		--delay: 1s;
		transition:
			top calc(1s * var(--d))  calc(var(--delay) * var(--d)) ease-in
			;
		&:before,
		&:after{
			background:white;
			height: 0%;
			width: 200%;
			left:0%;
			top: 0%;
			transform-origin: 0 50% ;
			transition:
				height calc(1s * var(--d))  calc(var(--delay) * var(--d)) ease-in
				;
		}
		&:before{
			transform: rotate(var(--b-a)) ;
			top: 0%;
		}
		&:after{
			transform: rotate( calc( var(--b-a) * -1) )  ;
			top: 100%;
		}
	}
	div:nth-of-type(2){
		&:before{
			left:0%;
			top:0%;
			width:100%;
			height: 100%;
			transition:
				height calc(1s * var(--d)) calc(1s * var(--d)),
				top calc(1s * var(--d)) calc(1s * var(--d)),
				;
		}

	}
	div:nth-of-type(3){

		&:before,
		&:after{
			left: 0%;
			width: 100%;
			height: calc(50% - var(--b-r) / 2);
			transition:
				width calc(1s * var(--d)) calc(1s * var(--d)),
				left calc(1s * var(--d)) calc(1s * var(--d))
				;

		}
		&:before{
			top: calc(50% + var(--b-r) / 2);
		}

		&:after{
			top: 0%;
		}

	}
	&:before{
		height: 100%;
		display: block;
		position: absolute;
		top: 0px;
		left: -60px;
		text-: sideways;
		writing-mode: vertical-rl;
		text-align: center;
		font-family: system-ui;
		font-weight: 900;
		color: whitesmoke;
		transform: rotate(180deg);
	}
}



.flag.english{
	background-color: #21468B;
	&:before{
		content: "Enlgish";
	}
	div:nth-of-type(1){
		height: 100%;
		width: 100%;
		left:0%;
		top: calc( var(--b-r) / -2 );

		&:before{
			height: var(--b-r);
		}
		&:after{
			height: var(--b-r);
		}
	}
	div:nth-of-type(2){
		--delay: 1s;
		--speed: 0.8s;
		background: #d00c27;
		height: var(--b-r) ;
		width: 100%;
		top:calc(50% - var(--b-r) /2 );
		left:0%;
		transition:
			background calc(var(--speed) * var(--d)) calc(0s * var(--d)),
			height calc(var(--speed) * var(--d)) calc(var(--delay) * var(--d)),
			top calc(var(--speed) * var(--d)) calc(var(--delay) * var(--d)),
			;

		&:before{
			top: calc(var(--b-w) / -2);
			height: calc(100% + var(--b-w));
			transition:
				height calc(var(--speed) * var(--d)) calc(var(--delay) * var(--d)),
				top calc(var(--speed) * var(--d)) calc(var(--delay) * var(--d)),
				;
		}
	}
	div:nth-of-type(3){    
		--delay: 1s;
		background: #d00c27;
		height: 100%;
		width: var(--b-r) ;
		top:0%;
		left:calc(50% - var(--b-r) /2 );
		transition:
			height calc(1s * var(--d)) calc(0.5s * var(--d)),
			width calc(0.5s * var(--d)) calc(0s * var(--d)),
			left calc(0.5s * var(--d)) calc(0s * var(--d))
			;

		&:before{
			width: calc(100% + var(--b-w));
			left: calc(var(--b-w) / -2);
			transition:
				width calc(1s * var(--d)) calc(var(--delay) * var(--d)),
				left calc(1s * var(--d)) calc(var(--delay) * var(--d)),
				;
		}
		&:after{
			width: calc(100% + var(--b-w));
			left: calc(var(--b-w) / -2);
			transition:
				height calc(1s * var(--d)) calc(var(--delay) * var(--d)),
				width calc(1s * var(--d)) calc(var(--delay) * var(--d)),
				top calc(0s * var(--d)) calc(0s * var(--d)),
				left calc(1s * var(--d)) calc(var(--delay) * var(--d)),
				;
		}
	}
}


.flag.swedish{
	background-color: #21468B;
	&:before{
		content: "Svenska";
	}
	div:nth-of-type(1){
		height: 100%;
		width: 100%;
		left:0%;
		top: 0%;
	}
	div:nth-of-type(2){
		background: #FFCD00;
		height: 20%;
		width: 100%;
		top:40%;
		left:0%;
		transition: 
			background calc(1s * var(--d)) 0s
			;

	}
	div:nth-of-type(3){
		background: #FFCD00;
		height: 100% ;
		width: 15% ;
		top: 0% ;
		left: 15% ;
		transition: 
			background calc(1s * var(--d)) 0s,
			left calc(1s * var(--d)) 0s,
			width calc(1s * var(--d)) 0s,
			height calc(1s * var(--d)) calc(1s * var(--d))
			;
	}

}



.flag.dutch{
	background-color: #21468B;
	&:before{
		content: "Nederlands";
	}
	div:nth-of-type(1){
	}
	div:nth-of-type(2){
		--delay: 0.20s;
		background: #fff;
		height: 0px ;
		width: 100%;
		top:calc(50% );
		left:0%;
		transition:
			background calc(1s * var(--d)) calc(0s * var(--d)),

			height calc(1s * var(--d)) calc(var(--delay) * var(--d)),
			top calc(1s * var(--d)) calc(var(--delay) * var(--d)),
			;

		&:before{
			top: calc(var(--s) / -2);
			height:  var(--s);
			transition:
				height calc(1s * var(--d)) calc(var(--delay) * var(--d)),
				top calc(1s * var(--d)) calc(var(--delay) * var(--d)),
				;
		}
	}
	div:nth-of-type(3){
		background: #AE1C28;
		height: 33.333%;
		width: 100%;
		top:0%;
		left:0%;
		transition: 
			background calc(1s * var(--d)) calc(1s * var(--d)),
			height calc(1s * var(--d)),
			width calc(1s * var(--d)) calc(1s * var(--d)),
			left calc(0.5s * var(--d)) calc(1s * var(--d))
			;
	}
}



